body {
  margin: 0;
  font-family: "Gill Sans", sans-serif;
  background-color: rgb(254, 221, 145);
}

.centered {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__text {
  font-weight: bold;
  color: red;
  font-size: 12px;
  margin-top: -20px;
}

.back_btn {
  font-weight: bold;
  padding: 10px 30px;
  color: springgreen;
  border: 2px double greenyellow;
  border-radius: 10px;
  background-color: rgb(15, 38, 80);
  margin: 10px 0 20px 0;
}
.back_btn:hover {
  font-weight: bold;
  cursor: pointer;
  color: white;
}
