body {
  margin: 0;
  font-family: "Gill Sans", sans-serif;
}
.centered {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__text {
  font-weight: bold;
  color: red;
  font-size: 12px;
  margin-top: -20px;
}
